.HomeContainer{
     width:100%;
     height:100vh;
     background-color: #186f98;
    /* background-image:linear-gradient(45deg,rgba(245,70,66,0.75),rgba(8,83,156,0.75)), url(welcome.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    overscroll-behavior-inline: contain;
}

.HomeHeader{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.header-logo{
    display:flex;
    align-items: center;
    color: rgb(36, 73, 183);
}
.header-list .headerlisten-content{
    display:inline;
    align-items: center;
    margin-left:50px;
    color:white;
}
.HomeBodyContent{
position: relative;
top:200px;
color:white;
/* left:400px; */
text-align: center;
}
/* .HomeBodyContent  */
.header-logo h1{
    font-weight:bold;
    font-size:xx-large
}
.welcome-button{
    outline:none;
    border:none;
    margin:200px 40%;
    background-color: #ff00ff;
    padding:10px 10px;
    font-size: large;
    font-weight: bold;
    color:white;
    border-radius:10px;
    width:20%;
}
.o-design{
    font-size: 40px;
    color: #ff00ff;
}

.contents{
    background-image:linear-gradient(450deg,rgb(126, 24, 24,0.75),rgba(18, 112, 206, 0.65)), url(bg.jpg);
    height: 100vh;
}


h1{
    color: white;
}